.custom-modal {
    padding: 10px;
    margin-left: 8%;
  }
  
  
  /*Boton para filtrar opciones*/
  
  .sprint-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 5rem; /* Ajusta el valor según sea necesario */
    margin-left: -160px; /* Ajusta este valor para mover más a la izquierda */
  }
  
  .dropdown-item:hover {
    background-color: #e2e6ea; /* Color al pasar el ratón */
  }
  
  .sprint-dropdown button {
    width: 100%; /* Asegura que el botón ocupe todo el ancho */
  }
  
  .dropdown-menu {
    width: 100%; /* Asegúrate de que el menú desplegable también sea 100% */
    left: 0; /* Alinea el menú a la izquierda del botón */
  }
  
  .gestion-dropdown{
    position: relative;
    display: inline-block;
    margin-right: 5rem; /* Ajusta el valor según sea necesario */
  }

  .empresa-dropdown{
    position: relative;
    display: inline-block;
    margin-right: 5rem; /* Ajusta el valor según sea necesario */
  }

/* Agrega otros menús si es necesario */

  /*Colores de los dias*/
  /* styles.css */
  .custom-day {
    background-color: lightblue; /* Color de fondo para los días seleccionados */
  }
  
  .weekend {
    background-color: transparent; /* No colorear los fines de semana */
  }