

.custom-modal {
    padding: 10px;
    margin-left: 8%;
  }
  
  
  /*Boton para filtrar opciones*/
  
  .sprint-dropdown {
    position: relative;
    display: inline-block;
    margin-right: 8rem; /* Ajusta el valor según sea necesario */
    margin-left: -5px; /* Ajusta este valor para mover más a la izquierda */
  }
  
  .dropdown-item:hover {
    background-color: #e2e6ea; /* Color al pasar el ratón */
  }
  
  .sprint-dropdown button {
    width: 100%; /* Asegura que el botón ocupe todo el ancho */
  }
  
  .dropdown-menu {
    width: 100%; /* Asegúrate de que el menú desplegable también sea 100% */
    left: 0; /* Alinea el menú a la izquierda del botón */
  }
  
  .gestion-dropdown{
    position: relative;
    display: inline-block;
    margin-right: 2rem; /* Ajusta el valor según sea necesario */
  }

  .empresa-dropdown{
    position: relative;
    display: inline-block;
    margin-right: 2rem; 
  }

/* Agrega otros menús si es necesario */

  /*Colores de los dias*/
  /* styles.css */
  .custom-day {
    background-color: lightblue; /* Color de fondo para los días seleccionados */
  }
  
  .weekend {
    background-color: transparent; /* No colorear los fines de semana */
  }

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  /* Contenedor de los botones */
  .dropdown-container {
    display: flex;
    flex-direction: column; /* Apilar los botones en una columna */
    gap: 1.5rem; /* Añadir espacio entre los botones */
  }

  /* Botón de gestión */
  .gestion-dropdown {
    margin-right: 0; /* Quitar margen derecho */
    margin-left: 0;  /* Quitar margen izquierdo */
  }

  /* Botón de empresa */
  .empresa-dropdown {
    margin-right: 0; /* Quitar margen derecho */
    margin-left: 0;  /* Quitar margen izquierdo */
  }

  /* Botón de sprint */
  .sprint-dropdown {
    margin-right: 0; /* Quitar margen derecho */
    margin-left: 0;  /* Quitar margen izquierdo */
  }

  /* Botones con ancho automático */
  .sprint-dropdown button,
  .gestion-dropdown button,
  .empresa-dropdown button {
    width: 100%; /* Asegura que los botones ocupen todo el ancho */
  }

  /* Asegura que el calendario esté centrado */
  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  
}



