.lista-autoevaluacion-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    max-width: 100%;
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .autoevaluacion-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .autoevaluacion-table th,
  .autoevaluacion-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  .autoevaluacion-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .autoevaluacion-table td ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 20px;
  }
  
  .autoevaluacion-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  