.custom-modal {
  padding: 10px;
  margin-left: 8%;
}

.custom{
  width: 587px;  /*Ancho de la tabla*/
  margin-left: 0%;
  margin-bottom: 0; /* Eliminar margen inferior */
  padding-bottom: 0; /* Eliminar padding inferior si lo hubiera */
}


table-container {
    max-width: 100%;
    overflow: visible; 
    margin-bottom: 0; /* Elimina cualquier margen debajo del contenedor */
    padding-bottom: 0; /* Asegúrate de que no haya padding inferior */
  }
  
  .hu-table {
    width: 100%;
    max-height: none;
    border-collapse: collapse;
    margin-bottom: 0; /* Elimina cualquier margen debajo del contenedor */
    padding-bottom: 0; /* Asegúrate de que no haya padding inferior */

  }
  
  .hu-table th,
  .hu-table td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
  }
  
  .hu-table th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .hu-table th:last-child,
  .hu-table td:last-child {
    width: 180px;
    text-align: center;
  }
  
  .btn-add-docente {
    background-color: #7094bf;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .btn-add-docente:hover {
    background-color: #2c5f8a;
  }
  

  
  
  .icon-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    margin: 0 2px;
    color: #6c757d;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .icon-button:hover {
    color: #495057;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 4px; 
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }

  /* Planificacion.css */
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  transform: translateX(-30px); 
}

.pagination-button {
  margin: 4px;
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Color de fondo */
  color: white; /* Color del texto */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.pagination-info {
  margin: 0 15px;
  font-weight: bold; /* Hacer el texto más destacado */
}
.custom-container {
  margin-top: -40px; /* Ajusta este valor según necesites */
}

/*Boton para filtrar opciones*/

.sprint-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 5rem; /* Ajusta el valor según sea necesario */
  margin-left: -160px; /* Ajusta este valor para mover más a la izquierda */
}

.dropdown-item:hover {
  background-color: #e2e6ea; /* Color al pasar el ratón */
}

.sprint-dropdown button {
  width: 100%; /* Asegura que el botón ocupe todo el ancho */

}

.dropdown-menu {
  width: 30%; /* Asegúrate de que el menú desplegable también sea 100% */
  left: 10; /* Alinea el menú a la izquierda del botón */
}




/*Colores de los dias*/
/* styles.css */
.custom-day {
  background-color: lightblue; /* Color de fondo para los días seleccionados */
}

.weekend {
  background-color: transparent; /* No colorear los fines de semana */
}

